body {
  background: #eee;
  font-family: monospace;
}
#blog {
  max-width: 500px;
  margin: 0 auto;
  background: #fafafa;
  padding: 1rem;
}
#blog h1:first-child {
  margin-top: 0;
}
#blog h1 a {
  color: #000;
  font-weight: normal;
  text-decoration: none;
}

.post img {
  max-width: 100%;
}
